@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .drag {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
  }
  .no-drag {
    -webkit-app-region: no-drag;
  }
}

@layer components {
  .tileStyleButton {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    color: #f7f7f7;
    cursor: pointer;
    @apply flex justify-center items-center rounded dark:hover:bg-[#333333aa] hover:bg-[#eaeaea] dark:text-white text-black transition-colors duration-200 ease-in-out;
  }
}
